.flex-jb-aic
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-jc
{
  display: flex;
  justify-content: center;
}

.flex-aic
{
  display: flex;
  align-items: center;
}